oldNonDicomFileSetDescriptor.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 016-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="CalibrationWorkflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTCTCalibrationWorkflow" type="irdbb:SPECTCTCalibrationWorkflow"/>
				<xs:element name="PlanarCalibrationWorkflow" type="irdbb:PlanarCalibrationWorkflow"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="WP2subtask212WorkflowData" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CTSegmentation" type="irdbb:CTSegmentation" minOccurs="0" />
				<xs:element name="SimpleCTMonteCarloDosimetry" type="irdbb:SimpleCTMonteCarloDosimetry" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ThreeDimDosimetrySlide1workflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTDataAcquisitionAndReconstruction" type="irdbb:SPECTDataAcquisitionAndReconstruction" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RegistrationVOISegmentationAndPropagation" type="irdbb:RegistrationVOISegmentationAndPropagation"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination" maxOccurs="unbounded" />
				<xs:element name="TimeActivityCurveFitIn3DDosimetry" type="irdbb:TimeActivityCurveFitIn3DDosimetry" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculationInVOI" type="irdbb:AbsorbedDoseCalculationInVOI"/>
				<xs:element name="RadioBiologicalCalculationIn3DSlide1Dosimetry" type="irdbb:RadioBiologicalCalculationIn3DSlide1Dosimetry" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SPECTRecoveryCoefficientCurve" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTRecoveryCoefficientCurve" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TwoDimDosimetryworkflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="TwoDimDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:TwoDimDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
				<xs:element name="TwoDimDosimetryViaTimeActivityCurveFit" type="irdbb:TwoDimDosimetryViaTimeActivityCurveFit" minOccurs="0" />
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ActualPlanarCalibrationFactor-ActualPlanarCalibrationFactor" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanarCalibrationFactorValue" type="xs:float"/>
				<xs:element name="PlanarCalibrationFactorUnit" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PlanarCalibrationFactorReference" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanarCalibrationFactorDate" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="HybridDosimetryworkflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="SPECTDataAcquisitionAndProcessing" type="irdbb:SPECTDataAcquisitionAndProcessing"/>
				<xs:element name="HybridDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:HybridDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
				<xs:element name="HybridDosimetryViaTimeActivityCurveFit" type="irdbb:HybridDosimetryViaTimeActivityCurveFit" minOccurs="0" />
				<xs:element name="RadioBiologicalCalculationInHybridOr3DSlide2Dosimetry" type="irdbb:RadioBiologicalCalculationInHybridOr3DSlide2Dosimetry" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ThreeDimDosimetrySlide2workflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTDataAcquisitionAndReconstruction" type="irdbb:SPECTDataAcquisitionAndReconstruction" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation" type="irdbb:VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation" maxOccurs="unbounded" />
				<xs:element name="DoseRateCurveFitVOITimeIntegration" type="irdbb:DoseRateCurveFitVOITimeIntegration"/>
				<xs:element name="RadioBiologicalCalculationInHybridOr3DSlide2Dosimetry" type="irdbb:RadioBiologicalCalculationInHybridOr3DSlide2Dosimetry" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SPECTCTCalibrationWorkflow">
		<xs:sequence>
				<xs:element name="CTNumberCalibrationWorkfow" type="irdbb:CTNumberCalibrationWorkfow" minOccurs="0" />
				<xs:element name="SPECTAcqCTAcqAndReconstructionInCalibration" type="irdbb:SPECTAcqCTAcqAndReconstructionInCalibration"/>
				<xs:element name="SPECTReconstructionInCalibration" type="irdbb:SPECTReconstructionInCalibration"/>
				<xs:element name="CTSegmentationInCalibration" type="irdbb:CTSegmentationInCalibration"/>
				<xs:element name="SPECTSensitivityCalculation" type="irdbb:SPECTSensitivityCalculation"/>
				<xs:element name="SPECTRecoveryCoefficientCurveCalculation" type="irdbb:SPECTRecoveryCoefficientCurveCalculation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationWorkflow">
		<xs:sequence>
				<xs:element name="PlanarAcquisition" type="irdbb:PlanarAcquisition"/>
				<xs:element name="PlanarImageCorrections" type="irdbb:PlanarImageCorrections"/>
				<xs:element name="PlanarImageSegmentation" type="irdbb:PlanarImageSegmentation"/>
				<xs:element name="PlanarSensitivityCalculation" type="irdbb:PlanarSensitivityCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationWorkfow">
		<xs:sequence>
				<xs:element name="CTAcqForCTNumberCalibrationCurve" type="irdbb:CTAcqForCTNumberCalibrationCurve"/>
				<xs:element name="CalculationOfCTNumberCalibrationCurve" type="irdbb:CalculationOfCTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTAcqForCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="DensityPhantomUsed" type="irdbb:DensityPhantom"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTNumberCalibrationCurveProduced" type="irdbb:CTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstructionInCalibration">
		<xs:sequence>
				<xs:element name="PhantomUsed" type="irdbb:NMPhantom"/>
				<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstructionInCalibration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
				<xs:element name="CTNumberCalibrationCurveUsed" type="irdbb:CTNumberCalibrationCurve" minOccurs="0" />
				<xs:element name="CTNumberCalibrationCurveReference" type="irdbb:CTNumberCalibrationCurveReference" minOccurs="0" />
				<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTSegmentationInCalibration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="SegmentationMethodMethodUsed" type="xs:string"/>
				<xs:element name="VOIInCTProduced" type="irdbb:VOIInCT" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTProduced" type="irdbb:VOIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTSensitivityCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIInCTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="SPECTCalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurveCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIInCTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PhantomIdentifierUsed" type="xs:string"/>
				<xs:element name="SPECTCalibrationCoefficientReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="SPECTRecoveryCoefficientCurveInCalibrationProduced" type="irdbb:SPECTRecoveryCoefficientCurveInCalibration"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarAcquisition">
		<xs:sequence>
				<xs:element name="PhantomUsed" type="irdbb:NMPhantom"/>
				<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageCorrections">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="NMStaticUsed" type="irdbb:DICOMData"/>
				<xs:element name="CorrectionsUsed" type="xs:string"/>
				<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageSegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData"/>
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="ROIInSPECTProduced" type="irdbb:ROIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarSensitivityCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData"/>
				<xs:element name="PlanarCalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DensityPhantom">
		<xs:sequence>
				<xs:element name="DensityPhantomName" type="xs:string"/>
				<xs:element name="DensityPhantomIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurveReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="ElementOfCTNumberCalibrationCurve" type="irdbb:ElementOfCTNumberCalibrationCurve" maxOccurs="unbounded" />
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementOfCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="HounsfieldMeasuredValue" type="xs:integer"/>
				<xs:element name="RealDensityOfMaterialValue" type="xs:float"/>
				<xs:element name="RealDensityOfMaterialUnit" type="xs:string"/>
				<xs:element name="MaterialIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMPhantom">
		<xs:sequence>
				<xs:element name="NMPhantomName" type="xs:string"/>
				<xs:element name="NMPhantomIdentifier" type="xs:string"/>
				<xs:element name="HotInsert" type="irdbb:HotInsert" maxOccurs="unbounded" />
				<xs:element name="ColdInsert" type="irdbb:ColdInsert" maxOccurs="unbounded" />
				<xs:element name="Tank" type="irdbb:Tank"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotInsert">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="PreAdminActivityValue" type="xs:float"/>
				<xs:element name="PreAdminActivityUnit" type="xs:string"/>
				<xs:element name="PreAdminActivityTimestamp" type="xs:string"/>
				<xs:element name="PostAdminActivityValue" type="xs:float"/>
				<xs:element name="PostAdminActivityUnit" type="xs:string"/>
				<xs:element name="PostAdminActivityTimestamp" type="xs:string"/>
				<xs:element name="HotInsertIdentifier" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ColdInsert">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="ColdInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Tank">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="PreAdminBackgroundActivityValue" type="xs:float"/>
				<xs:element name="PreAdminBackgroundActivityUnit" type="xs:string"/>
				<xs:element name="PreAdminBackgroundActivityTimestamp" type="xs:string"/>
				<xs:element name="PostAdminBackgroundActivityValue" type="xs:float"/>
				<xs:element name="PostAdminBackgroundActivityUnit" type="xs:string"/>
				<xs:element name="PostAdminBackgroundActivityTimestamp" type="xs:string"/>
				<xs:element name="TankIdentifier" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInCT">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="VOIVolumeValue" type="xs:float"/>
				<xs:element name="VOIVolumeUnit" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInSPECT">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="CountsInVOIValue" type="xs:float"/>
				<xs:element name="CountsInVOIUnit" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIInSPECT">
		<xs:sequence>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="CountsInROIValue" type="xs:float"/>
				<xs:element name="CountsInROIUnit" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalibrationCoefficient">
		<xs:sequence>
				<xs:element name="CalibrationCoefficientValue" type="xs:float"/>
				<xs:element name="CalibrationCoefficientUnit" type="xs:string"/>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurveInCalibration">
		<xs:sequence>
				<xs:element name="ElementOfSPECTRecoveryCoefficientCurve" type="irdbb:ElementOfSPECTRecoveryCoefficientCurve" maxOccurs="unbounded" />
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementOfSPECTRecoveryCoefficientCurve">
		<xs:sequence>
				<xs:element name="RatioMeasuredActivityToTrueActivity" type="xs:float"/>
				<xs:element name="HotInsertVolumeValue" type="xs:float"/>
				<xs:element name="HotInsertVolumeUnit" type="xs:string"/>
				<xs:element name="HotInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VOI"/>
					<xs:enumeration value="VOI superimposed on images"/>
					<xs:enumeration value="3D dose map"/>
					<xs:enumeration value="3D density map"/>
					<xs:enumeration value="3D activity map"/>
					<xs:enumeration value="3D absorbed dose rate map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="NonDICOMDataFormat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="zipped imageJ contours format"/>
					<xs:enumeration value="TIFF format embedding imageJ contours"/>
					<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
					<xs:enumeration value="GIF format embedding imageJ contours"/>
					<xs:enumeration value="NRRD format"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SimpleCTMonteCarloDosimetry">
		<xs:sequence>
				<xs:element name="CalculationOfVoxelMap" type="irdbb:CalculationOfVoxelMap"/>
				<xs:element name="CalculationOfAbsorbedDosesInVOIs" type="irdbb:CalculationOfAbsorbedDosesInVOIs"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTSegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMImageUsed" type="irdbb:DICOMData"/>
				<xs:element name="SegmentationMethodUsed" type="irdbb:SegmentationMethodType" minOccurs="0" />
				<xs:element name="VOIDescriptorProduced" type="irdbb:VOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfVoxelMap">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="AttenuatorUsed" type="irdbb:AttenuatorType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MonteCarloMethodUsed" type="irdbb:MonteCarloMethodType" minOccurs="0" />
				<xs:element name="DICOMCTImageDataUsed" type="irdbb:DICOMData"/>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseProduced" type="irdbb:VoxelBasedDistributionOfAbsorbedDoseType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfAbsorbedDosesInVOIs">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDosePerVOIProduced" type="irdbb:AbsorbedDosePerVOIType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SegmentationMethodType">
		<xs:sequence>
				<xs:element name="SegmentationMethod" type="xs:string"/>
				<xs:element name="SoftwareName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodSetting" type="irdbb:MethodSettingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MonteCarloMethodType">
		<xs:sequence>
				<xs:element name="MonteCarloMethod" type="xs:string"/>
				<xs:element name="SoftwareName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SimulatedImagingDevice" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MonteCarloMethodSetting" type="irdbb:MethodSettingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MethodSettingType">
		<xs:sequence>
				<xs:element name="MethodSetting" type="xs:string" minOccurs="0" />
				<xs:element name="MethodSettingValue" type="xs:string" minOccurs="0" />
				<xs:element name="MethodSettingUnit" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AttenuatorType">
		<xs:sequence>
				<xs:element name="AttenuatorCategory" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorDescription" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorMaterial" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorThicknessValue" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorThicknessUnit" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorModel" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDosePerVOIType">
		<xs:sequence>
		<xs:element name="AbsorbedDoseCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="mean absorbed dose normalized to CTDI free in air normalized to tube load"/>
					<xs:enumeration value="mean absorbed dose normalized to CTDI vol normalized to tube load"/>
					<xs:enumeration value="mean absorbed radiation dose"/>
					<xs:enumeration value="maximum absorbed radiation dose"/>
					<xs:enumeration value="minimum absorbed radiation dose"/>
					<xs:enumeration value="median absorbed radiation dose"/>
					<xs:enumeration value="mode absorbed radiation dose"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="StatisticalSubCategory" minOccurs="0" >
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="mean"/>
					<xs:enumeration value="maximum"/>
					<xs:enumeration value="minimum"/>
					<xs:enumeration value="median"/>
					<xs:enumeration value="mode"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="AbsorbedDoseValue" type="xs:string"/>
		<xs:element name="AbsorbedDoseUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="milligray per (milligray per (100 milliampere second))"/>
					<xs:enumeration value="milligray per (100 milliampere second)"/>
					<xs:enumeration value="milligray"/>
					<xs:enumeration value="milligray per (milligray per (1 milliampere second))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VoxelBasedDistributionOfAbsorbedDoseType">
		<xs:sequence>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseIdentifier" type="xs:string"/>
		<xs:element name="VoxelBasedDistributionOfAbsorbedDoseCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="absorbed dose normalized to CTDI free in air normalized to tube load"/>
					<xs:enumeration value="absorbed dose normalized to CTDI vol normalized to tube load"/>
					<xs:enumeration value="absorbed dose"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="AbsorbedDoseUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="milligray per (milligray per (100 milliampere second))"/>
					<xs:enumeration value="milligray per (100 milliampere second)"/>
					<xs:enumeration value="milligray"/>
					<xs:enumeration value="milligray per (milligray per (1 milliampere second))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMVoxelBasedAbsorbedDoseDistribution" type="irdbb:NonDICOMData" minOccurs="0" />
				<xs:element name="DICOMVoxelBasedAbsorbedDoseDistribution" type="irdbb:DICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOI">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		<xs:element name="OrganOrTissue">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="bone"/>
					<xs:enumeration value="breast"/>
					<xs:enumeration value="esophagus"/>
					<xs:enumeration value="heart"/>
					<xs:enumeration value="lungs"/>
					<xs:enumeration value="skin"/>
					<xs:enumeration value="human body"/>
					<xs:enumeration value="Adipose residual tissue"/>
					<xs:enumeration value="Adrenal left"/>
					<xs:enumeration value="Adrenal right"/>
					<xs:enumeration value="Air inside body"/>
					<xs:enumeration value="Air outside body"/>
					<xs:enumeration value="Alveolar interstitium"/>
					<xs:enumeration value="Ankles and foot bones cortical"/>
					<xs:enumeration value="Ankles and foot bones spongiosa"/>
					<xs:enumeration value="Anterior nasal passage (ET1)"/>
					<xs:enumeration value="Ascending colon contents"/>
					<xs:enumeration value="Ascending colon wall"/>
					<xs:enumeration value="Blood vessels arms"/>
					<xs:enumeration value="Blood vessels head"/>
					<xs:enumeration value="Blood vessels legs"/>
					<xs:enumeration value="Blood vessels trunk"/>
					<xs:enumeration value="Brain"/>
					<xs:enumeration value="Breast a + Breast g"/>
					<xs:enumeration value="Breast left adipose tissue"/>
					<xs:enumeration value="Breast left glandular tissue"/>
					<xs:enumeration value="Breast right adipose tissue"/>
					<xs:enumeration value="Breast right glandular tissue"/>
					<xs:enumeration value="Bronchi"/>
					<xs:enumeration value="Cartilage arms"/>
					<xs:enumeration value="Cartilage head"/>
					<xs:enumeration value="Cartilage legs"/>
					<xs:enumeration value="Cartilage trunk"/>
					<xs:enumeration value="Cervical spine cortical"/>
					<xs:enumeration value="Cervical spine spongiosa"/>
					<xs:enumeration value="Clavicles cortical"/>
					<xs:enumeration value="Clavicles spongiosa"/>
					<xs:enumeration value="Colon"/>
					<xs:enumeration value="Cranium cortical"/>
					<xs:enumeration value="Cranium spongiosa"/>
					<xs:enumeration value="Descending colon contents"/>
					<xs:enumeration value="Descending colon wall"/>
					<xs:enumeration value="ET region"/>
					<xs:enumeration value="Eye bulb left"/>
					<xs:enumeration value="Eye bulb right"/>
					<xs:enumeration value="Eye lense left"/>
					<xs:enumeration value="Eye lense right"/>
					<xs:enumeration value="Femora lower half cortical"/>
					<xs:enumeration value="Femora lower half medullary cavity"/>
					<xs:enumeration value="Femora lower half spongiosa"/>
					<xs:enumeration value="Femora upper half cortical"/>
					<xs:enumeration value="Femora upper half medullary cavity"/>
					<xs:enumeration value="Femora upper half spongiosa"/>
					<xs:enumeration value="Gall bladder contents"/>
					<xs:enumeration value="Gall bladder wall"/>
					<xs:enumeration value="Heart contents (blood)"/>
					<xs:enumeration value="Heart wall"/>
					<xs:enumeration value="Humeri lower half cortical"/>
					<xs:enumeration value="Humeri lower half medullary cavity"/>
					<xs:enumeration value="Humeri lower half spongiosa"/>
					<xs:enumeration value="Humeri upper half cortical"/>
					<xs:enumeration value="Humeri upper half medullary cavity"/>
					<xs:enumeration value="Humeri upper half spongiosa"/>
					<xs:enumeration value="Kidney left cortex"/>
					<xs:enumeration value="Kidney left medulla"/>
					<xs:enumeration value="Kidney left pelvis"/>
					<xs:enumeration value="Kidney right cortex"/>
					<xs:enumeration value="Kidney right medulla"/>
					<xs:enumeration value="Kidney right pelvis"/>
					<xs:enumeration value="LBreast a + LBresat g"/>
					<xs:enumeration value="Left colon wall (left transverse + descending)"/>
					<xs:enumeration value="Left kidney C+M+P"/>
					<xs:enumeration value="Left lung lobe"/>
					<xs:enumeration value="Lenses of eye"/>
					<xs:enumeration value="Liver"/>
					<xs:enumeration value="Lumbar spine cortical"/>
					<xs:enumeration value="Lumbar spine spongiosa"/>
					<xs:enumeration value="Lung left blood"/>
					<xs:enumeration value="Lung left tissue"/>
					<xs:enumeration value="Lung right blood"/>
					<xs:enumeration value="Lung right tissue"/>
					<xs:enumeration value="Lymphatic nodes arms"/>
					<xs:enumeration value="Lymphatic nodes extrathoracic airways"/>
					<xs:enumeration value="Lymphatic nodes head"/>
					<xs:enumeration value="Lymphatic nodes legs"/>
					<xs:enumeration value="Lymphatic nodes thoracic airways"/>
					<xs:enumeration value="Lymphatic nodes trunk"/>
					<xs:enumeration value="Lymph nodes"/>
					<xs:enumeration value="Lymph nodes except LN ET + LN Th"/>
					<xs:enumeration value="Mandible cortical"/>
					<xs:enumeration value="Mandible spongiosa"/>
					<xs:enumeration value="Muscle"/>
					<xs:enumeration value="Muscle arms"/>
					<xs:enumeration value="Muscle head"/>
					<xs:enumeration value="Muscle legs"/>
					<xs:enumeration value="Muscle trunk"/>
					<xs:enumeration value="Oesophagus"/>
					<xs:enumeration value="Oral mucosa"/>
					<xs:enumeration value="Oral mucosa lips and cheeks"/>
					<xs:enumeration value="Oral mucosa tongue"/>
					<xs:enumeration value="Ovary left"/>
					<xs:enumeration value="Ovary right"/>
					<xs:enumeration value="Pancreas"/>
					<xs:enumeration value="Pelvis cortical"/>
					<xs:enumeration value="Pelvis spongiosa"/>
					<xs:enumeration value="Pituitary gland"/>
					<xs:enumeration value="Posterior nasal passage down to larynx (ET2)"/>
					<xs:enumeration value="Prostate"/>
					<xs:enumeration value="RAdrenal + LAdrenal"/>
					<xs:enumeration value="RBreast a + LBreast a"/>
					<xs:enumeration value="RBreast a + RBreast g"/>
					<xs:enumeration value="RBreast g + LBreast g"/>
					<xs:enumeration value="Rectum wall"/>
					<xs:enumeration value="Residual tissue arms"/>
					<xs:enumeration value="Residual tissue head"/>
					<xs:enumeration value="Residual tissue legs"/>
					<xs:enumeration value="Residual tissue trunk"/>
					<xs:enumeration value="Ribs cortical"/>
					<xs:enumeration value="Ribs spongiosa"/>
					<xs:enumeration value="Right colon wall (ascending + right transverse)"/>
					<xs:enumeration value="Right kidney C+M+P"/>
					<xs:enumeration value="Right lung lobe"/>
					<xs:enumeration value="RKidney + LKidney"/>
					<xs:enumeration value="RLung + LLung"/>
					<xs:enumeration value="ROvary + LOvary"/>
					<xs:enumeration value="Sacrum spongiosa"/>
					<xs:enumeration value="Salivary glands"/>
					<xs:enumeration value="Salivary glands left"/>
					<xs:enumeration value="Salivary glands right"/>
					<xs:enumeration value="Scapulae cortical"/>
					<xs:enumeration value="Scapulae spongiosa"/>
					<xs:enumeration value="Sigmoid colon contents"/>
					<xs:enumeration value="Sigmoid colon wall"/>
					<xs:enumeration value="Sigmoid colon wall + rectum wall"/>
					<xs:enumeration value="Skin"/>
					<xs:enumeration value="Skin arms"/>
					<xs:enumeration value="Skin at top and bottom"/>
					<xs:enumeration value="Skin head"/>
					<xs:enumeration value="Skin legs"/>
					<xs:enumeration value="Skin trunk"/>
					<xs:enumeration value="Small intestine contents"/>
					<xs:enumeration value="Small intestine wall"/>
					<xs:enumeration value="Spinal cord"/>
					<xs:enumeration value="Spleen"/>
					<xs:enumeration value="Sternum cortical"/>
					<xs:enumeration value="Sternum spongiosa"/>
					<xs:enumeration value="Stomach contents"/>
					<xs:enumeration value="Stomach wall"/>
					<xs:enumeration value="Teeth"/>
					<xs:enumeration value="Testes"/>
					<xs:enumeration value="Testis left"/>
					<xs:enumeration value="Testis right"/>
					<xs:enumeration value="Thoracic spine cortical"/>
					<xs:enumeration value="Thoracic spine spongiosa"/>
					<xs:enumeration value="Thymus"/>
					<xs:enumeration value="Thyroid"/>
					<xs:enumeration value="Tibiae fibulae and patellae cortical"/>
					<xs:enumeration value="Tibiae fibulae and patellae medullary cavity"/>
					<xs:enumeration value="Tibiae fibulae and patellae spongiosa"/>
					<xs:enumeration value="Tongue"/>
					<xs:enumeration value="Tongue (inner part)"/>
					<xs:enumeration value="Tonsils"/>
					<xs:enumeration value="Total body except organ contents"/>
					<xs:enumeration value="Trachea"/>
					<xs:enumeration value="Transverse colon contents left"/>
					<xs:enumeration value="Transverse colon contents right"/>
					<xs:enumeration value="Transverse colon wall left"/>
					<xs:enumeration value="Transverse colon wall right"/>
					<xs:enumeration value="Ulnae and radii cortical"/>
					<xs:enumeration value="Ulnae and radii medullary cavity"/>
					<xs:enumeration value="Ulnae and radii spongiosa"/>
					<xs:enumeration value="Ureter left"/>
					<xs:enumeration value="Ureter right"/>
					<xs:enumeration value="Ureters"/>
					<xs:enumeration value="Urinary bladder contents"/>
					<xs:enumeration value="Urinary bladder wall"/>
					<xs:enumeration value="Uterus"/>
					<xs:enumeration value="Wrists and hand bones cortical"/>
					<xs:enumeration value="Wrists and hand bones spongiosa"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTDataAcquisitionAndReconstruction">
		<xs:sequence>
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction"/>
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstruction">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="CTRelevantCalibrationReference" type="irdbb:CTRelevantCalibrationReference"/>
				<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstruction">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
				<xs:element name="CTNumberCalibrationCurveUsed" type="irdbb:CTNumberCalibrationCurve" minOccurs="0" />
				<xs:element name="CTNumberCalibrationCurveReference" type="irdbb:CTNumberCalibrationCurveReference" minOccurs="0" />
				<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="CTReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="ImageProcessingMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProducedNonDICOM" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProducedNonDICOM" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="SPECTCalibrationFactorReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="SPECTRecoveryCoefficientCurveReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="DataActivityPerVOIAtTimePointProduced" type="irdbb:DataActivityPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFitIn3DDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerVOI"/>
				<xs:element name="TimeIntegratedActivityPerVOIProduced" type="irdbb:TimeIntegratedActivityPerVOI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInVOI">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculationMethodUsed" type="xs:string"/>
				<xs:element name="AbsorbedDoseInVOIProduced" type="irdbb:AbsorbedDoseInVOI" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapProduced" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculationIn3DSlide1Dosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
		<xs:element name="TimePointCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="168h plus or minus 24h post RAIT timepoint"/>
					<xs:enumeration value="96h plus or minus 12h post RAIT timepoint"/>
					<xs:enumeration value="72h plus or minus 12h post RAIT timepoint"/>
					<xs:enumeration value="48h plus or minus 4h post RAIT timepoint"/>
					<xs:enumeration value="24h plus or minus 4h post RAIT timepoint"/>
					<xs:enumeration value="6h plus or minus 2h post RAIT timepoint"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
				<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
		<xs:element name="TimePointDistanceFromReferenceEventUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="minutes"/>
					<xs:enumeration value="hours"/>
					<xs:enumeration value="days"/>
					<xs:enumeration value="months"/>
					<xs:enumeration value="years"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
				<xs:element name="AdministeredActivityValue" type="xs:float"/>
				<xs:element name="AdministeredActivityUnit" type="xs:string"/>
				<xs:element name="Timestamp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseInVOI">
		<xs:sequence>
				<xs:element name="AbsorbedDoseInVOIValue" type="xs:float"/>
				<xs:element name="AbsorbedDoseInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="PlanarDataAcquisition" type="irdbb:PlanarDataAcquisition"/>
				<xs:element name="PlanarDataCorrections" type="irdbb:PlanarDataCorrections"/>
				<xs:element name="PlanarDataSegmentationWithoutRegistration" type="irdbb:PlanarDataSegmentationWithoutRegistration" minOccurs="0" />
				<xs:element name="PlanarDataSegmentationWithRegistrationAndPropagation" type="irdbb:PlanarDataSegmentationWithRegistrationAndPropagation" minOccurs="0" />
				<xs:element name="ROIPlanarActivityDetermination" type="irdbb:ROIPlanarActivityDetermination" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="AbsorbedDoseRateCalculationIn2DDosimetry" type="irdbb:AbsorbedDoseRateCalculationIn2DDosimetry" maxOccurs="unbounded" />
				<xs:element name="TimeAbsorbedDoseCurveFit" type="irdbb:TimeAbsorbedDoseCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
				<xs:element name="AbsorbedDoseCalculationInROIIn2DDosimetry" type="irdbb:AbsorbedDoseCalculationInROIIn2DDosimetry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisition">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataCorrections">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMStaticUsed" type="irdbb:DICOMData"/>
				<xs:element name="CorrectionsUsed" type="xs:string"/>
				<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithoutRegistration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithRegistrationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIPlanarActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PlanarCalibrationFactorReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="DataActivityPerROIAtTimePointProduced" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculationIn2DDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="ReferenceOrganMassUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassIn2DDosimetry" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseRateInROIProduced" type="irdbb:MeanAbsorbedDoseRateInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerROI" maxOccurs="unbounded" />
				<xs:element name="TimeIntegratedActivityPerROIProduced" type="irdbb:TimeIntegratedActivityPerROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInROIIn2DDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassIn2DDosimetry" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROI">
		<xs:sequence>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		<xs:element name="OrganOrTissue">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="bone"/>
					<xs:enumeration value="breast"/>
					<xs:enumeration value="esophagus"/>
					<xs:enumeration value="heart"/>
					<xs:enumeration value="lungs"/>
					<xs:enumeration value="skin"/>
					<xs:enumeration value="human body"/>
					<xs:enumeration value="Adipose residual tissue"/>
					<xs:enumeration value="Adrenal left"/>
					<xs:enumeration value="Adrenal right"/>
					<xs:enumeration value="Air inside body"/>
					<xs:enumeration value="Air outside body"/>
					<xs:enumeration value="Alveolar interstitium"/>
					<xs:enumeration value="Ankles and foot bones cortical"/>
					<xs:enumeration value="Ankles and foot bones spongiosa"/>
					<xs:enumeration value="Anterior nasal passage (ET1)"/>
					<xs:enumeration value="Ascending colon contents"/>
					<xs:enumeration value="Ascending colon wall"/>
					<xs:enumeration value="Blood vessels arms"/>
					<xs:enumeration value="Blood vessels head"/>
					<xs:enumeration value="Blood vessels legs"/>
					<xs:enumeration value="Blood vessels trunk"/>
					<xs:enumeration value="Brain"/>
					<xs:enumeration value="Breast a + Breast g"/>
					<xs:enumeration value="Breast left adipose tissue"/>
					<xs:enumeration value="Breast left glandular tissue"/>
					<xs:enumeration value="Breast right adipose tissue"/>
					<xs:enumeration value="Breast right glandular tissue"/>
					<xs:enumeration value="Bronchi"/>
					<xs:enumeration value="Cartilage arms"/>
					<xs:enumeration value="Cartilage head"/>
					<xs:enumeration value="Cartilage legs"/>
					<xs:enumeration value="Cartilage trunk"/>
					<xs:enumeration value="Cervical spine cortical"/>
					<xs:enumeration value="Cervical spine spongiosa"/>
					<xs:enumeration value="Clavicles cortical"/>
					<xs:enumeration value="Clavicles spongiosa"/>
					<xs:enumeration value="Colon"/>
					<xs:enumeration value="Cranium cortical"/>
					<xs:enumeration value="Cranium spongiosa"/>
					<xs:enumeration value="Descending colon contents"/>
					<xs:enumeration value="Descending colon wall"/>
					<xs:enumeration value="ET region"/>
					<xs:enumeration value="Eye bulb left"/>
					<xs:enumeration value="Eye bulb right"/>
					<xs:enumeration value="Eye lense left"/>
					<xs:enumeration value="Eye lense right"/>
					<xs:enumeration value="Femora lower half cortical"/>
					<xs:enumeration value="Femora lower half medullary cavity"/>
					<xs:enumeration value="Femora lower half spongiosa"/>
					<xs:enumeration value="Femora upper half cortical"/>
					<xs:enumeration value="Femora upper half medullary cavity"/>
					<xs:enumeration value="Femora upper half spongiosa"/>
					<xs:enumeration value="Gall bladder contents"/>
					<xs:enumeration value="Gall bladder wall"/>
					<xs:enumeration value="Heart contents (blood)"/>
					<xs:enumeration value="Heart wall"/>
					<xs:enumeration value="Humeri lower half cortical"/>
					<xs:enumeration value="Humeri lower half medullary cavity"/>
					<xs:enumeration value="Humeri lower half spongiosa"/>
					<xs:enumeration value="Humeri upper half cortical"/>
					<xs:enumeration value="Humeri upper half medullary cavity"/>
					<xs:enumeration value="Humeri upper half spongiosa"/>
					<xs:enumeration value="Kidney left cortex"/>
					<xs:enumeration value="Kidney left medulla"/>
					<xs:enumeration value="Kidney left pelvis"/>
					<xs:enumeration value="Kidney right cortex"/>
					<xs:enumeration value="Kidney right medulla"/>
					<xs:enumeration value="Kidney right pelvis"/>
					<xs:enumeration value="LBreast a + LBresat g"/>
					<xs:enumeration value="Left colon wall (left transverse + descending)"/>
					<xs:enumeration value="Left kidney C+M+P"/>
					<xs:enumeration value="Left lung lobe"/>
					<xs:enumeration value="Lenses of eye"/>
					<xs:enumeration value="Liver"/>
					<xs:enumeration value="Lumbar spine cortical"/>
					<xs:enumeration value="Lumbar spine spongiosa"/>
					<xs:enumeration value="Lung left blood"/>
					<xs:enumeration value="Lung left tissue"/>
					<xs:enumeration value="Lung right blood"/>
					<xs:enumeration value="Lung right tissue"/>
					<xs:enumeration value="Lymphatic nodes arms"/>
					<xs:enumeration value="Lymphatic nodes extrathoracic airways"/>
					<xs:enumeration value="Lymphatic nodes head"/>
					<xs:enumeration value="Lymphatic nodes legs"/>
					<xs:enumeration value="Lymphatic nodes thoracic airways"/>
					<xs:enumeration value="Lymphatic nodes trunk"/>
					<xs:enumeration value="Lymph nodes"/>
					<xs:enumeration value="Lymph nodes except LN ET + LN Th"/>
					<xs:enumeration value="Mandible cortical"/>
					<xs:enumeration value="Mandible spongiosa"/>
					<xs:enumeration value="Muscle"/>
					<xs:enumeration value="Muscle arms"/>
					<xs:enumeration value="Muscle head"/>
					<xs:enumeration value="Muscle legs"/>
					<xs:enumeration value="Muscle trunk"/>
					<xs:enumeration value="Oesophagus"/>
					<xs:enumeration value="Oral mucosa"/>
					<xs:enumeration value="Oral mucosa lips and cheeks"/>
					<xs:enumeration value="Oral mucosa tongue"/>
					<xs:enumeration value="Ovary left"/>
					<xs:enumeration value="Ovary right"/>
					<xs:enumeration value="Pancreas"/>
					<xs:enumeration value="Pelvis cortical"/>
					<xs:enumeration value="Pelvis spongiosa"/>
					<xs:enumeration value="Pituitary gland"/>
					<xs:enumeration value="Posterior nasal passage down to larynx (ET2)"/>
					<xs:enumeration value="Prostate"/>
					<xs:enumeration value="RAdrenal + LAdrenal"/>
					<xs:enumeration value="RBreast a + LBreast a"/>
					<xs:enumeration value="RBreast a + RBreast g"/>
					<xs:enumeration value="RBreast g + LBreast g"/>
					<xs:enumeration value="Rectum wall"/>
					<xs:enumeration value="Residual tissue arms"/>
					<xs:enumeration value="Residual tissue head"/>
					<xs:enumeration value="Residual tissue legs"/>
					<xs:enumeration value="Residual tissue trunk"/>
					<xs:enumeration value="Ribs cortical"/>
					<xs:enumeration value="Ribs spongiosa"/>
					<xs:enumeration value="Right colon wall (ascending + right transverse)"/>
					<xs:enumeration value="Right kidney C+M+P"/>
					<xs:enumeration value="Right lung lobe"/>
					<xs:enumeration value="RKidney + LKidney"/>
					<xs:enumeration value="RLung + LLung"/>
					<xs:enumeration value="ROvary + LOvary"/>
					<xs:enumeration value="Sacrum spongiosa"/>
					<xs:enumeration value="Salivary glands"/>
					<xs:enumeration value="Salivary glands left"/>
					<xs:enumeration value="Salivary glands right"/>
					<xs:enumeration value="Scapulae cortical"/>
					<xs:enumeration value="Scapulae spongiosa"/>
					<xs:enumeration value="Sigmoid colon contents"/>
					<xs:enumeration value="Sigmoid colon wall"/>
					<xs:enumeration value="Sigmoid colon wall + rectum wall"/>
					<xs:enumeration value="Skin"/>
					<xs:enumeration value="Skin arms"/>
					<xs:enumeration value="Skin at top and bottom"/>
					<xs:enumeration value="Skin head"/>
					<xs:enumeration value="Skin legs"/>
					<xs:enumeration value="Skin trunk"/>
					<xs:enumeration value="Small intestine contents"/>
					<xs:enumeration value="Small intestine wall"/>
					<xs:enumeration value="Spinal cord"/>
					<xs:enumeration value="Spleen"/>
					<xs:enumeration value="Sternum cortical"/>
					<xs:enumeration value="Sternum spongiosa"/>
					<xs:enumeration value="Stomach contents"/>
					<xs:enumeration value="Stomach wall"/>
					<xs:enumeration value="Teeth"/>
					<xs:enumeration value="Testes"/>
					<xs:enumeration value="Testis left"/>
					<xs:enumeration value="Testis right"/>
					<xs:enumeration value="Thoracic spine cortical"/>
					<xs:enumeration value="Thoracic spine spongiosa"/>
					<xs:enumeration value="Thymus"/>
					<xs:enumeration value="Thyroid"/>
					<xs:enumeration value="Tibiae fibulae and patellae cortical"/>
					<xs:enumeration value="Tibiae fibulae and patellae medullary cavity"/>
					<xs:enumeration value="Tibiae fibulae and patellae spongiosa"/>
					<xs:enumeration value="Tongue"/>
					<xs:enumeration value="Tongue (inner part)"/>
					<xs:enumeration value="Tonsils"/>
					<xs:enumeration value="Total body except organ contents"/>
					<xs:enumeration value="Trachea"/>
					<xs:enumeration value="Transverse colon contents left"/>
					<xs:enumeration value="Transverse colon contents right"/>
					<xs:enumeration value="Transverse colon wall left"/>
					<xs:enumeration value="Transverse colon wall right"/>
					<xs:enumeration value="Ulnae and radii cortical"/>
					<xs:enumeration value="Ulnae and radii medullary cavity"/>
					<xs:enumeration value="Ulnae and radii spongiosa"/>
					<xs:enumeration value="Ureter left"/>
					<xs:enumeration value="Ureter right"/>
					<xs:enumeration value="Ureters"/>
					<xs:enumeration value="Urinary bladder contents"/>
					<xs:enumeration value="Urinary bladder wall"/>
					<xs:enumeration value="Uterus"/>
					<xs:enumeration value="Wrists and hand bones cortical"/>
					<xs:enumeration value="Wrists and hand bones spongiosa"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PatientOrganMassIn2DDosimetry">
		<xs:sequence>
				<xs:element name="PatientOrganMassValue" type="xs:float"/>
				<xs:element name="PatientOrganMassUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseRateInROI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseRateInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseRateInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInROI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction" minOccurs="0" />
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction" minOccurs="0" />
				<xs:element name="RegistrationVOISegmentation" type="irdbb:RegistrationVOISegmentation"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HybridDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="EnergyDepositionRateCalculationInHybridDosimetry" type="irdbb:EnergyDepositionRateCalculationInHybridDosimetry"/>
				<xs:element name="SumAndScalingEnergyDepositionRate" type="irdbb:SumAndScalingEnergyDepositionRate"/>
				<xs:element name="AbsorbedDoseRateCalculationInHybridDosimetry" type="irdbb:AbsorbedDoseRateCalculationInHybridDosimetry"/>
				<xs:element name="TimeAbsorbedDoseRateCurveFit" type="irdbb:TimeAbsorbedDoseRateCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HybridDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ActivityScaling" type="irdbb:ActivityScaling"/>
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
				<xs:element name="AbsorbedDoseCalculationInROIInHybridDosimetry" type="irdbb:AbsorbedDoseCalculationInROIInHybridDosimetry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="RegistrationAndSegmentationMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnSPECTProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnergyDepositionRateCalculationInHybridDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VoxelDataActivityAtTimePointIdentifier" type="xs:string"/>
				<xs:element name="CTReconResampledOnSPECTUsed" type="irdbb:DICOMData"/>
				<xs:element name="ThreeDimEnergyDepositionRateMatrixAtTimePointProduced" type="irdbb:NonDICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SumAndScalingEnergyDepositionRate">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string"/>
				<xs:element name="EnergyDepositionRatePerVOIAtTimePointProduced" type="irdbb:EnergyDepositionRatePerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculationInHybridDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassInHybridDosimetry" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseRateInVOIProduced" type="irdbb:MeanAbsorbedDoseRateInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseRateCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActivityScaling">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="DataActivityPerROIAtTimePoint" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInROIInHybridDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassInHybridDosimetry" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculationInHybridOr3DSlide2Dosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnergyDepositionRatePerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="EnergyDepositionRateValue" type="xs:float"/>
				<xs:element name="EnergyDepositionRateUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PatientOrganMassInHybridDosimetry">
		<xs:sequence>
				<xs:element name="PatientOrganMassValue" type="xs:float"/>
				<xs:element name="PatientOrganMassUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseRateInVOI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseRateInVOIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseRateInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInVOI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInVOIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="VOISegmentationVOIMassDetermination" type="irdbb:VOISegmentationVOIMassDetermination"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination"/>
				<xs:element name="EnergyDepositionRateCalculationIn3DDosimetry" type="irdbb:EnergyDepositionRateCalculationIn3DDosimetry"/>
				<xs:element name="SumAndScalingAbsorbedDoseRateCalculation" type="irdbb:SumAndScalingAbsorbedDoseRateCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOISegmentationVOIMassDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="VOISegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnNMReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="MassPerVOIAtTimePointProduced" type="irdbb:MassPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnergyDepositionRateCalculationIn3DDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnNMReferenceUsed" type="irdbb:DICOMData"/>
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData"/>
		<xs:element name="CalculationAlgorithmUsed">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="local energy deposition"/>
					<xs:enumeration value="FFT convolution"/>
					<xs:enumeration value="homogeneous matrix convolution"/>
					<xs:enumeration value="heterogeneous matrix convolution"/>
					<xs:enumeration value="Monte Carlo"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="KernelLimitForConvolutionsUsed" type="irdbb:KernelLimitForConvolutions" minOccurs="0" />
				<xs:element name="ThreeDimEnergyDepositionRateMatrixAtTimePointProduced" type="irdbb:NonDICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SumAndScalingAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ThreeDimEnergyDepositionRateMatrixAtTimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="AbsorbedDoseRatePerVOIAtTimePointProduced" type="irdbb:AbsorbedDoseRatePerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DoseRateCurveFitVOITimeIntegration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="AbsorbedDoseInVOIProduced" type="irdbb:AbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MassPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="MassValue" type="xs:float"/>
				<xs:element name="MassUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRatePerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="AbsorbedDoseRateValue" type="xs:float"/>
				<xs:element name="AbsorbedDoseRateUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KernelLimitForConvolutions">
		<xs:sequence>
				<xs:element name="KernelLimitForConvolutionsValue" type="xs:float"/>
		<xs:element name="KernelLimitForConvolutionsUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="millimeter"/>
					<xs:enumeration value="centimeter"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>