xsdSimple/3D-DosimetrySlide1Workflow.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 017-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="ThreeDimDosimetrySlide1workflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTDataAcquisitionAndReconstruction" type="irdbb:SPECTDataAcquisitionAndReconstruction" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RegistrationVOISegmentationAndPropagation" type="irdbb:RegistrationVOISegmentationAndPropagation"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination" maxOccurs="unbounded" />
				<xs:element name="TimeActivityCurveFitIn3DDosimetry" type="irdbb:TimeActivityCurveFitIn3DDosimetry" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculationInVOI" type="irdbb:AbsorbedDoseCalculationInVOI"/>
				<xs:element name="RadioBiologicalCalculationIn3DSlide1Dosimetry" type="irdbb:RadioBiologicalCalculationIn3DSlide1Dosimetry" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SPECTRecoveryCoefficientCurve" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTRecoveryCoefficientCurve" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SPECTDataAcquisitionAndReconstruction">
		<xs:sequence>
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction"/>
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstruction">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="CTRelevantCalibrationReference" type="irdbb:CTRelevantCalibrationReference"/>
				<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstruction">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
				<xs:element name="CTNumberCalibrationCurveUsed" type="irdbb:CTNumberCalibrationCurve" minOccurs="0" />
				<xs:element name="CTNumberCalibrationCurveReference" type="irdbb:CTNumberCalibrationCurveReference" minOccurs="0" />
				<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="CTReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="ImageProcessingMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProducedNonDICOM" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProducedNonDICOM" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="SPECTCalibrationFactorReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="SPECTRecoveryCoefficientCurveReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="DataActivityPerVOIAtTimePointProduced" type="irdbb:DataActivityPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFitIn3DDosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerVOI"/>
				<xs:element name="TimeIntegratedActivityPerVOIProduced" type="irdbb:TimeIntegratedActivityPerVOI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInVOI">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculationMethodUsed" type="xs:string"/>
				<xs:element name="AbsorbedDoseInVOIProduced" type="irdbb:AbsorbedDoseInVOI" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapProduced" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculationIn3DSlide1Dosimetry">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
		<xs:element name="TimePointCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="168h plus or minus 24h post RAIT timepoint"/>
					<xs:enumeration value="96h plus or minus 12h post RAIT timepoint"/>
					<xs:enumeration value="72h plus or minus 12h post RAIT timepoint"/>
					<xs:enumeration value="48h plus or minus 4h post RAIT timepoint"/>
					<xs:enumeration value="24h plus or minus 4h post RAIT timepoint"/>
					<xs:enumeration value="6h plus or minus 2h post RAIT timepoint"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
				<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
		<xs:element name="TimePointDistanceFromReferenceEventUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="minutes"/>
					<xs:enumeration value="hours"/>
					<xs:enumeration value="days"/>
					<xs:enumeration value="months"/>
					<xs:enumeration value="years"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurveReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="rhenium188"/>
					<xs:enumeration value="terbium161"/>
					<xs:enumeration value="fluorine18"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOI">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		<xs:element name="OrganOrTissue">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="bone"/>
					<xs:enumeration value="breast"/>
					<xs:enumeration value="esophagus"/>
					<xs:enumeration value="heart"/>
					<xs:enumeration value="lungs"/>
					<xs:enumeration value="skin"/>
					<xs:enumeration value="human body"/>
					<xs:enumeration value="Adipose residual tissue"/>
					<xs:enumeration value="Adrenal left"/>
					<xs:enumeration value="Adrenal right"/>
					<xs:enumeration value="Air inside body"/>
					<xs:enumeration value="Air outside body"/>
					<xs:enumeration value="Alveolar interstitium"/>
					<xs:enumeration value="Ankles and foot bones cortical"/>
					<xs:enumeration value="Ankles and foot bones spongiosa"/>
					<xs:enumeration value="Anterior nasal passage (ET1)"/>
					<xs:enumeration value="Ascending colon contents"/>
					<xs:enumeration value="Ascending colon wall"/>
					<xs:enumeration value="Blood vessels arms"/>
					<xs:enumeration value="Blood vessels head"/>
					<xs:enumeration value="Blood vessels legs"/>
					<xs:enumeration value="Blood vessels trunk"/>
					<xs:enumeration value="Brain"/>
					<xs:enumeration value="Breast a + Breast g"/>
					<xs:enumeration value="Breast left adipose tissue"/>
					<xs:enumeration value="Breast left glandular tissue"/>
					<xs:enumeration value="Breast right adipose tissue"/>
					<xs:enumeration value="Breast right glandular tissue"/>
					<xs:enumeration value="Bronchi"/>
					<xs:enumeration value="Cartilage arms"/>
					<xs:enumeration value="Cartilage head"/>
					<xs:enumeration value="Cartilage legs"/>
					<xs:enumeration value="Cartilage trunk"/>
					<xs:enumeration value="Cervical spine cortical"/>
					<xs:enumeration value="Cervical spine spongiosa"/>
					<xs:enumeration value="Clavicles cortical"/>
					<xs:enumeration value="Clavicles spongiosa"/>
					<xs:enumeration value="Colon"/>
					<xs:enumeration value="Cranium cortical"/>
					<xs:enumeration value="Cranium spongiosa"/>
					<xs:enumeration value="Descending colon contents"/>
					<xs:enumeration value="Descending colon wall"/>
					<xs:enumeration value="ET region"/>
					<xs:enumeration value="Eye bulb left"/>
					<xs:enumeration value="Eye bulb right"/>
					<xs:enumeration value="Eye lense left"/>
					<xs:enumeration value="Eye lense right"/>
					<xs:enumeration value="Femora lower half cortical"/>
					<xs:enumeration value="Femora lower half medullary cavity"/>
					<xs:enumeration value="Femora lower half spongiosa"/>
					<xs:enumeration value="Femora upper half cortical"/>
					<xs:enumeration value="Femora upper half medullary cavity"/>
					<xs:enumeration value="Femora upper half spongiosa"/>
					<xs:enumeration value="Gall bladder contents"/>
					<xs:enumeration value="Gall bladder wall"/>
					<xs:enumeration value="Heart contents (blood)"/>
					<xs:enumeration value="Heart wall"/>
					<xs:enumeration value="Humeri lower half cortical"/>
					<xs:enumeration value="Humeri lower half medullary cavity"/>
					<xs:enumeration value="Humeri lower half spongiosa"/>
					<xs:enumeration value="Humeri upper half cortical"/>
					<xs:enumeration value="Humeri upper half medullary cavity"/>
					<xs:enumeration value="Humeri upper half spongiosa"/>
					<xs:enumeration value="Kidney left cortex"/>
					<xs:enumeration value="Kidney left medulla"/>
					<xs:enumeration value="Kidney left pelvis"/>
					<xs:enumeration value="Kidney right cortex"/>
					<xs:enumeration value="Kidney right medulla"/>
					<xs:enumeration value="Kidney right pelvis"/>
					<xs:enumeration value="LBreast a + LBresat g"/>
					<xs:enumeration value="Left colon wall (left transverse + descending)"/>
					<xs:enumeration value="Left kidney C+M+P"/>
					<xs:enumeration value="Left lung lobe"/>
					<xs:enumeration value="Lenses of eye"/>
					<xs:enumeration value="Liver"/>
					<xs:enumeration value="Lumbar spine cortical"/>
					<xs:enumeration value="Lumbar spine spongiosa"/>
					<xs:enumeration value="Lung left blood"/>
					<xs:enumeration value="Lung left tissue"/>
					<xs:enumeration value="Lung right blood"/>
					<xs:enumeration value="Lung right tissue"/>
					<xs:enumeration value="Lymphatic nodes arms"/>
					<xs:enumeration value="Lymphatic nodes extrathoracic airways"/>
					<xs:enumeration value="Lymphatic nodes head"/>
					<xs:enumeration value="Lymphatic nodes legs"/>
					<xs:enumeration value="Lymphatic nodes thoracic airways"/>
					<xs:enumeration value="Lymphatic nodes trunk"/>
					<xs:enumeration value="Lymph nodes"/>
					<xs:enumeration value="Lymph nodes except LN ET + LN Th"/>
					<xs:enumeration value="Mandible cortical"/>
					<xs:enumeration value="Mandible spongiosa"/>
					<xs:enumeration value="Muscle"/>
					<xs:enumeration value="Muscle arms"/>
					<xs:enumeration value="Muscle head"/>
					<xs:enumeration value="Muscle legs"/>
					<xs:enumeration value="Muscle trunk"/>
					<xs:enumeration value="Oesophagus"/>
					<xs:enumeration value="Oral mucosa"/>
					<xs:enumeration value="Oral mucosa lips and cheeks"/>
					<xs:enumeration value="Oral mucosa tongue"/>
					<xs:enumeration value="Ovary left"/>
					<xs:enumeration value="Ovary right"/>
					<xs:enumeration value="Pancreas"/>
					<xs:enumeration value="Pelvis cortical"/>
					<xs:enumeration value="Pelvis spongiosa"/>
					<xs:enumeration value="Pituitary gland"/>
					<xs:enumeration value="Posterior nasal passage down to larynx (ET2)"/>
					<xs:enumeration value="Prostate"/>
					<xs:enumeration value="RAdrenal + LAdrenal"/>
					<xs:enumeration value="RBreast a + LBreast a"/>
					<xs:enumeration value="RBreast a + RBreast g"/>
					<xs:enumeration value="RBreast g + LBreast g"/>
					<xs:enumeration value="Rectum wall"/>
					<xs:enumeration value="Residual tissue arms"/>
					<xs:enumeration value="Residual tissue head"/>
					<xs:enumeration value="Residual tissue legs"/>
					<xs:enumeration value="Residual tissue trunk"/>
					<xs:enumeration value="Ribs cortical"/>
					<xs:enumeration value="Ribs spongiosa"/>
					<xs:enumeration value="Right colon wall (ascending + right transverse)"/>
					<xs:enumeration value="Right kidney C+M+P"/>
					<xs:enumeration value="Right lung lobe"/>
					<xs:enumeration value="RKidney + LKidney"/>
					<xs:enumeration value="RLung + LLung"/>
					<xs:enumeration value="ROvary + LOvary"/>
					<xs:enumeration value="Sacrum spongiosa"/>
					<xs:enumeration value="Salivary glands"/>
					<xs:enumeration value="Salivary glands left"/>
					<xs:enumeration value="Salivary glands right"/>
					<xs:enumeration value="Scapulae cortical"/>
					<xs:enumeration value="Scapulae spongiosa"/>
					<xs:enumeration value="Sigmoid colon contents"/>
					<xs:enumeration value="Sigmoid colon wall"/>
					<xs:enumeration value="Sigmoid colon wall + rectum wall"/>
					<xs:enumeration value="Skin"/>
					<xs:enumeration value="Skin arms"/>
					<xs:enumeration value="Skin at top and bottom"/>
					<xs:enumeration value="Skin head"/>
					<xs:enumeration value="Skin legs"/>
					<xs:enumeration value="Skin trunk"/>
					<xs:enumeration value="Small intestine contents"/>
					<xs:enumeration value="Small intestine wall"/>
					<xs:enumeration value="Spinal cord"/>
					<xs:enumeration value="Spleen"/>
					<xs:enumeration value="Sternum cortical"/>
					<xs:enumeration value="Sternum spongiosa"/>
					<xs:enumeration value="Stomach contents"/>
					<xs:enumeration value="Stomach wall"/>
					<xs:enumeration value="Teeth"/>
					<xs:enumeration value="Testes"/>
					<xs:enumeration value="Testis left"/>
					<xs:enumeration value="Testis right"/>
					<xs:enumeration value="Thoracic spine cortical"/>
					<xs:enumeration value="Thoracic spine spongiosa"/>
					<xs:enumeration value="Thymus"/>
					<xs:enumeration value="Thyroid"/>
					<xs:enumeration value="Tibiae fibulae and patellae cortical"/>
					<xs:enumeration value="Tibiae fibulae and patellae medullary cavity"/>
					<xs:enumeration value="Tibiae fibulae and patellae spongiosa"/>
					<xs:enumeration value="Tongue"/>
					<xs:enumeration value="Tongue (inner part)"/>
					<xs:enumeration value="Tonsils"/>
					<xs:enumeration value="Total body except organ contents"/>
					<xs:enumeration value="Trachea"/>
					<xs:enumeration value="Transverse colon contents left"/>
					<xs:enumeration value="Transverse colon contents right"/>
					<xs:enumeration value="Transverse colon wall left"/>
					<xs:enumeration value="Transverse colon wall right"/>
					<xs:enumeration value="Ulnae and radii cortical"/>
					<xs:enumeration value="Ulnae and radii medullary cavity"/>
					<xs:enumeration value="Ulnae and radii spongiosa"/>
					<xs:enumeration value="Ureter left"/>
					<xs:enumeration value="Ureter right"/>
					<xs:enumeration value="Ureters"/>
					<xs:enumeration value="Urinary bladder contents"/>
					<xs:enumeration value="Urinary bladder wall"/>
					<xs:enumeration value="Uterus"/>
					<xs:enumeration value="Wrists and hand bones cortical"/>
					<xs:enumeration value="Wrists and hand bones spongiosa"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="ElementOfCTNumberCalibrationCurve" type="irdbb:ElementOfCTNumberCalibrationCurve" maxOccurs="unbounded" />
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementOfCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="HounsfieldMeasuredValue" type="xs:integer"/>
				<xs:element name="RealDensityOfMaterialValue" type="xs:float"/>
				<xs:element name="RealDensityOfMaterialUnit" type="xs:string"/>
				<xs:element name="MaterialIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
				<xs:element name="AdministeredActivityValue" type="xs:float"/>
				<xs:element name="AdministeredActivityUnit" type="xs:string"/>
				<xs:element name="Timestamp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseInVOI">
		<xs:sequence>
				<xs:element name="AbsorbedDoseInVOIValue" type="xs:float"/>
				<xs:element name="AbsorbedDoseInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VOI"/>
					<xs:enumeration value="VOI superimposed on images"/>
					<xs:enumeration value="3D dose map"/>
					<xs:enumeration value="3D density map"/>
					<xs:enumeration value="3D activity map"/>
					<xs:enumeration value="3D absorbed dose rate map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="NonDICOMDataFormat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="zipped imageJ contours format"/>
					<xs:enumeration value="TIFF format embedding imageJ contours"/>
					<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
					<xs:enumeration value="GIF format embedding imageJ contours"/>
					<xs:enumeration value="NRRD format"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>