xsdSimple/3D-DosimetrySlide1Workflow.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 001-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PatientId" type="xs:string"/>

				<xs:element name="ThreeDimDosimetrySlide1workflow">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SPECTDataAcquisitionAndReconstruction" type="irdbb:SPECTDataAcquisitionAndReconstruction"/>
							<xs:element name="RegistrationVOISegmentationAndPropagation" type="irdbb:RegistrationVOISegmentationAndPropagation"/>
							<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination"/>
							<xs:element name="TimeActivityCurveFitIn3DDosimetry" type="irdbb:TimeActivityCurveFitIn3DDosimetry"/>
							<xs:element name="AbsorbedDoseCalculationInVOI" type="irdbb:AbsorbedDoseCalculationInVOI"/>
							<xs:element name="RadioBiologicalCalculationIn3DSlide1Dosimetry" type="irdbb:RadioBiologicalCalculationIn3DSlide1Dosimetry"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AbsorbedDoseInVOIContainer" >
		<xs:complexType>
			<xs:sequence>
			<xs:element name="AbsorbedDoseInVOIProduced" type="irdbb:AbsorbedDoseInVOI" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SPECTDataAcquisitionAndReconstruction">
		<xs:sequence>
			<xs:element name="SPECTAcqCTAcqAndReconstructionContainer" type="irdbb:SPECTAcqCTAcqAndReconstructionContainer"/>
			<xs:element name="SPECTReconstructionContainer" type="irdbb:SPECTReconstructionContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstructionContainer">
		<xs:sequence>
			<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstructionContainer">
		<xs:sequence>
			<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstruction">
		<xs:sequence>
			<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
			<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="CTRelevantCalibrationReference" type="irdbb:CTRelevantCalibrationReference"/>
			<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
			<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstruction">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
			<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
			<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
			<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
			<xs:element name="CTNumberCalibrationCurveUsed" type="irdbb:CTNumberCalibrationCurve" minOccurs="0" />
			<xs:element name="CTNumberCalibrationCurveReference" type="irdbb:CTNumberCalibrationCurveReference" minOccurs="0" />
			<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentationAndPropagation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
			<xs:element name="CountsPerVOIAtTimePointProducedContainer" type="irdbb:CountsPerVOIAtTimePointProducedContainer"/>
			<xs:element name="NMTomoReconUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="CTReconUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="ImageProcessingMethodMethodUsed" type="xs:string"/>
			<xs:element name="SegmentationProduced" type="irdbb:VoiProducedContainer"/>
			<xs:element name="CTReconResampledOnCommonReferenceProduced" type="irdbb:DICOMDataContainer"/>
			<xs:element name="NMTomoReconResampledOnCommonReferenceProduced" type="irdbb:DICOMDataContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerVOIAtTimePointProducedContainer">
		<xs:sequence>
			<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VoiProducedContainer">
		<xs:sequence>
			<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIActivityDetermination">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIContainer" type="irdbb:VOIContainer"/>
			<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
			<xs:element name="SPECTCalibrationFactorReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="SPECTRecoveryCoefficientCurveReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="DataActivityPerVOIAtTimePointContainer" type="irdbb:DataActivityPerVOIAtTimePointContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerVOIAtTimePointContainer">
		<xs:sequence>
			<xs:element name="DataActivityPerVOIAtTimePointProduced" type="irdbb:DataActivityPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIContainer">
		<xs:sequence>
			<xs:element name="VOIIdentifierUsed" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFitIn3DDosimetry">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIIdentifierUsed" type="xs:string"/>
			<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
			<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="PKAssessmentMethodUsed" type="irdbb:CurveFittingMethod"/>
			<xs:element name="TimeIntegratedActivityCoefficientPerVOIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerVOI"/>
			<xs:element name="TimeIntegratedActivityPerVOIProduced" type="irdbb:TimeIntegratedActivityPerVOI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInVOI">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIIdentifierUsed" type="xs:string"/>
			<xs:element name="CTReconResampledOnCommonReferenceUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="NMTomoReconResampledOnCommonReferenceUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="AbsorbedDoseCalculationMethodUsed" type="xs:string"/>
			<xs:element name="VoxelAbsorbedDoseMapProduced" type="irdbb:NonDICOMDataContainer" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculationIn3DSlide1Dosimetry">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIIdentifierUsed" type="xs:string"/>
			<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="irdbb:VoxelAbsorbedDoseMapIdentifierUsed" minOccurs="0" />
			<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
			<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
			<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VoxelAbsorbedDoseMapIdentifierUsed">
		<xs:sequence>
			<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
			<xs:element name="TimePointDescriptionElement" type="irdbb:TimePointDescriptionElement" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TimePointCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="168h plus or minus 24h post RAIT timepoint"/>
			<xs:enumeration value="96h plus or minus 12h post RAIT timepoint"/>
			<xs:enumeration value="72h plus or minus 12h post RAIT timepoint"/>
			<xs:enumeration value="48h plus or minus 4h post RAIT timepoint"/>
			<xs:enumeration value="24h plus or minus 4h post RAIT timepoint"/>
			<xs:enumeration value="6h plus or minus 2h post RAIT timepoint"/>
			<xs:enumeration value="additional timepoint"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TimePointDistanceFromReferenceEventUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="minutes"/>
			<xs:enumeration value="hours"/>
			<xs:enumeration value="days"/>
			<xs:enumeration value="months"/>
			<xs:enumeration value="years"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TimePointDescriptionElement">
		<xs:sequence>
		<xs:element name="TimePointCategory" type="irdbb:TimePointCategory" />
			<xs:element name="TimePointIdentifier" type="xs:string"/>
			<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
		<xs:element name="TimePointDistanceFromReferenceEventUnit" type="irdbb:TimePointDistanceFromReferenceEventUnit" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
			<xs:element name="DateTimeProcessStarted" type="xs:string"/>
			<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTRelevantCalibrationReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurveReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Isotope">
		<xs:restriction base="xs:string">
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="iodine131"/>
			<xs:enumeration value="lutetium177"/>
			<xs:enumeration value="yttrium90"/>
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="rhenium188"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CountsUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CountsPerVOIAtTimePoint">
		<xs:sequence>
			<xs:element name="CountsValue" type="xs:float"/>
		<xs:element name="CountsUnit" type="irdbb:CountsUnit" />
			<xs:element name="VOIIdentifier" type="xs:string"/>
			<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="OrganOrTissue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bone"/>
			<xs:enumeration value="breast"/>
			<xs:enumeration value="esophagus"/>
			<xs:enumeration value="heart"/>
			<xs:enumeration value="lungs"/>
			<xs:enumeration value="skin"/>
			<xs:enumeration value="human body"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="VOI">
		<xs:sequence>
			<xs:element name="VOIIdentifier" type="xs:string"/>
		<xs:element name="OrganOrTissue" type="irdbb:OrganOrTissue" />
			<xs:element name="DICOMDataContainer" type="irdbb:DICOMDataContainer" minOccurs="0" />
			<xs:element name="NonDICOMDataContainer" type="irdbb:NonDICOMDataContainer" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMDataContainer">
		<xs:sequence>
			<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMDataContainer">
		<xs:sequence>
			<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="ElementsOfCTNumberCalibrationCurve" type="irdbb:ElementsOfCTNumberCalibrationCurve"/>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementsOfCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="ElementOfCTNumberCalibrationCurve" type="irdbb:ElementOfCTNumberCalibrationCurve" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RealDensityOfMaterialUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hounsfield"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ElementOfCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="HounsfieldMeasuredValue" type="xs:integer"/>
			<xs:element name="RealDensityOfMaterialValue" type="xs:float"/>
		<xs:element name="RealDensityOfMaterialUnit" type="irdbb:RealDensityOfMaterialUnit" />
			<xs:element name="MaterialIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurve">
		<xs:sequence>
			<xs:element name="SPECTRecoveryCoefficientCurve" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AdministeredActivityUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DataActivityPerVOIAtTimePoint">
		<xs:sequence>
			<xs:element name="DataActivityValue" type="xs:float"/>
		<xs:element name="AdministeredActivityUnit" type="irdbb:AdministeredActivityUnit" />
			<xs:element name="VOIIdentifier" type="xs:string"/>
			<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
			<xs:element name="AdministeredActivityValue" type="xs:float"/>
		<xs:element name="AdministeredActivityUnit" type="irdbb:AdministeredActivityUnit" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AbsorbedDoseInVOIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gray"/>
			<xs:enumeration value="milligray"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AbsorbedDoseInVOI">
		<xs:sequence>
			<xs:element name="AbsorbedDoseInVOIValue" type="xs:float"/>
		<xs:element name="AbsorbedDoseInVOIUnit" type="irdbb:AbsorbedDoseInVOIUnit" />
			<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TimeIntegratedActivityCoefficientPerVOIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="seconds"/>
			<xs:enumeration value="minutes"/>
			<xs:enumeration value="hours"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerVOI">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityCoefficientPerVOIValue" type="xs:float"/>
		<xs:element name="TimeIntegratedActivityCoefficientPerVOIUnit" type="irdbb:TimeIntegratedActivityCoefficientPerVOIUnit" />
			<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TimeIntegratedActivityPerVOIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="seconds"/>
			<xs:enumeration value="minutes"/>
			<xs:enumeration value="hours"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TimeIntegratedActivityPerVOI">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityPerVOIValue" type="xs:float"/>
		<xs:element name="TimeIntegratedActivityPerVOIUnit" type="irdbb:TimeIntegratedActivityPerVOIUnit" />
			<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="IncorporationFunction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="constant"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="exponential"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntegrationAlgorithm">
		<xs:restriction base="xs:string">
			<xs:enumeration value="trapezoid"/>
			<xs:enumeration value="mono_exponential"/>
			<xs:enumeration value="bi_exponential"/>
			<xs:enumeration value="tri_exponential"/>
			<xs:enumeration value="x_exponential"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CurveFittingMethod">
		<xs:sequence>
		<xs:element name="IncorporationFunction" type="irdbb:IncorporationFunction" />
		<xs:element name="IntegrationAlgorithm" type="irdbb:IntegrationAlgorithm" />
			<xs:element name="FittingFunction" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
			<xs:element name="DICOMStudyUID" type="xs:string"/>
			<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NonDICOMDataClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VOI"/>
			<xs:enumeration value="VOI superimposed on images"/>
			<xs:enumeration value="3D absorbed dose map"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonDICOMDataFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="zipped imageJ contours format"/>
			<xs:enumeration value="TIFF format embedding imageJ contours"/>
			<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
			<xs:enumeration value="GIF format embedding imageJ contours"/>
			<xs:enumeration value="NRRD format"/>
			<xs:enumeration value="STL format"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass" type="irdbb:NonDICOMDataClass" />
		<xs:element name="NonDICOMDataFormat" type="irdbb:NonDICOMDataFormat" />
			<xs:element name="FileNameList" type="irdbb:FileNameList"/>
			<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FileNameList">
		<xs:sequence>
			<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>