xsdSimple/WP2subtask212WorkflowData.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 015-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="WP2subtask212WorkflowData" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CTSegmentation" type="irdbb:CTSegmentation" minOccurs="0" />
				<xs:element name="SimpleCTMonteCarloDosimetry" type="irdbb:SimpleCTMonteCarloDosimetry" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SimpleCTMonteCarloDosimetry">
		<xs:sequence>
				<xs:element name="CalculationOfVoxelMap" type="irdbb:CalculationOfVoxelMap"/>
				<xs:element name="CalculationOfAbsorbedDosesInVOIs" type="irdbb:CalculationOfAbsorbedDosesInVOIs"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTSegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMImageUsed" type="irdbb:DICOMData"/>
				<xs:element name="SegmentationMethodUsed" type="irdbb:SegmentationMethodType" minOccurs="0" />
				<xs:element name="VOIDescriptorProduced" type="irdbb:VOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfVoxelMap">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="AttenuatorUsed" type="irdbb:AttenuatorType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MonteCarloMethodUsed" type="irdbb:MonteCarloMethodType" minOccurs="0" />
				<xs:element name="DICOMCTImageDataUsed" type="irdbb:DICOMData"/>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseProduced" type="irdbb:VoxelBasedDistributionOfAbsorbedDoseType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfAbsorbedDosesInVOIs">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDosePerVOIProduced" type="irdbb:AbsorbedDosePerVOIType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SegmentationMethodType">
		<xs:sequence>
				<xs:element name="SegmentationMethod" type="xs:string"/>
				<xs:element name="SoftwareName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodSetting" type="irdbb:MethodSettingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MonteCarloMethodType">
		<xs:sequence>
				<xs:element name="MonteCarloMethod" type="xs:string"/>
				<xs:element name="SoftwareName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SimulatedImagingDevice" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MonteCarloMethodSetting" type="irdbb:MethodSettingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MethodSettingType">
		<xs:sequence>
				<xs:element name="MethodSetting" type="xs:string" minOccurs="0" />
				<xs:element name="MethodSettingValue" type="xs:string" minOccurs="0" />
				<xs:element name="MethodSettingUnit" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AttenuatorType">
		<xs:sequence>
				<xs:element name="AttenuatorCategory" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorDescription" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorMaterial" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorThicknessValue" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorThicknessUnit" type="xs:string"/>
				<xs:element name="EquivalentAttenuatorModel" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDosePerVOIType">
		<xs:sequence>
		<xs:element name="AbsorbedDoseCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="mean absorbed dose normalized to CTDI free in air normalized to tube load"/>
					<xs:enumeration value="mean absorbed dose normalized to CTDI vol normalized to tube load"/>
					<xs:enumeration value="mean absorbed radiation dose"/>
					<xs:enumeration value="maximum absorbed radiation dose"/>
					<xs:enumeration value="minimum absorbed radiation dose"/>
					<xs:enumeration value="median absorbed radiation dose"/>
					<xs:enumeration value="mode absorbed radiation dose"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="StatisticalSubCategory" minOccurs="0" >
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="mean"/>
					<xs:enumeration value="maximum"/>
					<xs:enumeration value="minimum"/>
					<xs:enumeration value="median"/>
					<xs:enumeration value="mode"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="AbsorbedDoseValue" type="xs:string"/>
		<xs:element name="AbsorbedDoseUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="milligray per (milligray per (100 milliampere second))"/>
					<xs:enumeration value="milligray per (100 milliampere second)"/>
					<xs:enumeration value="milligray"/>
					<xs:enumeration value="milligray per (milligray per (1 milliampere second))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VoxelBasedDistributionOfAbsorbedDoseType">
		<xs:sequence>
				<xs:element name="VoxelBasedDistributionOfAbsorbedDoseIdentifier" type="xs:string"/>
		<xs:element name="VoxelBasedDistributionOfAbsorbedDoseCategory">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="absorbed dose normalized to CTDI free in air normalized to tube load"/>
					<xs:enumeration value="absorbed dose normalized to CTDI vol normalized to tube load"/>
					<xs:enumeration value="absorbed dose"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="AbsorbedDoseUnit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="milligray per (milligray per (100 milliampere second))"/>
					<xs:enumeration value="milligray per (100 milliampere second)"/>
					<xs:enumeration value="milligray"/>
					<xs:enumeration value="milligray per (milligray per (1 milliampere second))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMVoxelBasedAbsorbedDoseDistribution" type="irdbb:NonDICOMData" minOccurs="0" />
				<xs:element name="DICOMVoxelBasedAbsorbedDoseDistribution" type="irdbb:DICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOI">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		<xs:element name="OrganOrTissue">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="bone"/>
					<xs:enumeration value="breast"/>
					<xs:enumeration value="esophagus"/>
					<xs:enumeration value="heart"/>
					<xs:enumeration value="lungs"/>
					<xs:enumeration value="skin"/>
					<xs:enumeration value="human body"/>
					<xs:enumeration value="Adipose residual tissue"/>
					<xs:enumeration value="Adrenal left"/>
					<xs:enumeration value="Adrenal right"/>
					<xs:enumeration value="Air inside body"/>
					<xs:enumeration value="Air outside body"/>
					<xs:enumeration value="Alveolar interstitium"/>
					<xs:enumeration value="Ankles and foot bones cortical"/>
					<xs:enumeration value="Ankles and foot bones spongiosa"/>
					<xs:enumeration value="Anterior nasal passage (ET1)"/>
					<xs:enumeration value="Ascending colon contents"/>
					<xs:enumeration value="Ascending colon wall"/>
					<xs:enumeration value="Blood vessels arms"/>
					<xs:enumeration value="Blood vessels head"/>
					<xs:enumeration value="Blood vessels legs"/>
					<xs:enumeration value="Blood vessels trunk"/>
					<xs:enumeration value="Brain"/>
					<xs:enumeration value="Breast a + Breast g"/>
					<xs:enumeration value="Breast left adipose tissue"/>
					<xs:enumeration value="Breast left glandular tissue"/>
					<xs:enumeration value="Breast right adipose tissue"/>
					<xs:enumeration value="Breast right glandular tissue"/>
					<xs:enumeration value="Bronchi"/>
					<xs:enumeration value="Cartilage arms"/>
					<xs:enumeration value="Cartilage head"/>
					<xs:enumeration value="Cartilage legs"/>
					<xs:enumeration value="Cartilage trunk"/>
					<xs:enumeration value="Cervical spine cortical"/>
					<xs:enumeration value="Cervical spine spongiosa"/>
					<xs:enumeration value="Clavicles cortical"/>
					<xs:enumeration value="Clavicles spongiosa"/>
					<xs:enumeration value="Colon"/>
					<xs:enumeration value="Cranium cortical"/>
					<xs:enumeration value="Cranium spongiosa"/>
					<xs:enumeration value="Descending colon contents"/>
					<xs:enumeration value="Descending colon wall"/>
					<xs:enumeration value="ET region"/>
					<xs:enumeration value="Eye bulb left"/>
					<xs:enumeration value="Eye bulb right"/>
					<xs:enumeration value="Eye lense left"/>
					<xs:enumeration value="Eye lense right"/>
					<xs:enumeration value="Femora lower half cortical"/>
					<xs:enumeration value="Femora lower half medullary cavity"/>
					<xs:enumeration value="Femora lower half spongiosa"/>
					<xs:enumeration value="Femora upper half cortical"/>
					<xs:enumeration value="Femora upper half medullary cavity"/>
					<xs:enumeration value="Femora upper half spongiosa"/>
					<xs:enumeration value="Gall bladder contents"/>
					<xs:enumeration value="Gall bladder wall"/>
					<xs:enumeration value="Heart contents (blood)"/>
					<xs:enumeration value="Heart wall"/>
					<xs:enumeration value="Humeri lower half cortical"/>
					<xs:enumeration value="Humeri lower half medullary cavity"/>
					<xs:enumeration value="Humeri lower half spongiosa"/>
					<xs:enumeration value="Humeri upper half cortical"/>
					<xs:enumeration value="Humeri upper half medullary cavity"/>
					<xs:enumeration value="Humeri upper half spongiosa"/>
					<xs:enumeration value="Kidney left cortex"/>
					<xs:enumeration value="Kidney left medulla"/>
					<xs:enumeration value="Kidney left pelvis"/>
					<xs:enumeration value="Kidney right cortex"/>
					<xs:enumeration value="Kidney right medulla"/>
					<xs:enumeration value="Kidney right pelvis"/>
					<xs:enumeration value="LBreast a + LBresat g"/>
					<xs:enumeration value="Left colon wall (left transverse + descending)"/>
					<xs:enumeration value="Left kidney C+M+P"/>
					<xs:enumeration value="Left lung lobe"/>
					<xs:enumeration value="Lenses of eye"/>
					<xs:enumeration value="Liver"/>
					<xs:enumeration value="Lumbar spine cortical"/>
					<xs:enumeration value="Lumbar spine spongiosa"/>
					<xs:enumeration value="Lung left blood"/>
					<xs:enumeration value="Lung left tissue"/>
					<xs:enumeration value="Lung right blood"/>
					<xs:enumeration value="Lung right tissue"/>
					<xs:enumeration value="Lymphatic nodes arms"/>
					<xs:enumeration value="Lymphatic nodes extrathoracic airways"/>
					<xs:enumeration value="Lymphatic nodes head"/>
					<xs:enumeration value="Lymphatic nodes legs"/>
					<xs:enumeration value="Lymphatic nodes thoracic airways"/>
					<xs:enumeration value="Lymphatic nodes trunk"/>
					<xs:enumeration value="Lymph nodes"/>
					<xs:enumeration value="Lymph nodes except LN ET + LN Th"/>
					<xs:enumeration value="Mandible cortical"/>
					<xs:enumeration value="Mandible spongiosa"/>
					<xs:enumeration value="Muscle"/>
					<xs:enumeration value="Muscle arms"/>
					<xs:enumeration value="Muscle head"/>
					<xs:enumeration value="Muscle legs"/>
					<xs:enumeration value="Muscle trunk"/>
					<xs:enumeration value="Oesophagus"/>
					<xs:enumeration value="Oral mucosa"/>
					<xs:enumeration value="Oral mucosa lips and cheeks"/>
					<xs:enumeration value="Oral mucosa tongue"/>
					<xs:enumeration value="Ovary left"/>
					<xs:enumeration value="Ovary right"/>
					<xs:enumeration value="Pancreas"/>
					<xs:enumeration value="Pelvis cortical"/>
					<xs:enumeration value="Pelvis spongiosa"/>
					<xs:enumeration value="Pituitary gland"/>
					<xs:enumeration value="Posterior nasal passage down to larynx (ET2)"/>
					<xs:enumeration value="Prostate"/>
					<xs:enumeration value="RAdrenal + LAdrenal"/>
					<xs:enumeration value="RBreast a + LBreast a"/>
					<xs:enumeration value="RBreast a + RBreast g"/>
					<xs:enumeration value="RBreast g + LBreast g"/>
					<xs:enumeration value="Rectum wall"/>
					<xs:enumeration value="Residual tissue arms"/>
					<xs:enumeration value="Residual tissue head"/>
					<xs:enumeration value="Residual tissue legs"/>
					<xs:enumeration value="Residual tissue trunk"/>
					<xs:enumeration value="Ribs cortical"/>
					<xs:enumeration value="Ribs spongiosa"/>
					<xs:enumeration value="Right colon wall (ascending + right transverse)"/>
					<xs:enumeration value="Right kidney C+M+P"/>
					<xs:enumeration value="Right lung lobe"/>
					<xs:enumeration value="RKidney + LKidney"/>
					<xs:enumeration value="RLung + LLung"/>
					<xs:enumeration value="ROvary + LOvary"/>
					<xs:enumeration value="Sacrum spongiosa"/>
					<xs:enumeration value="Salivary glands"/>
					<xs:enumeration value="Salivary glands left"/>
					<xs:enumeration value="Salivary glands right"/>
					<xs:enumeration value="Scapulae cortical"/>
					<xs:enumeration value="Scapulae spongiosa"/>
					<xs:enumeration value="Sigmoid colon contents"/>
					<xs:enumeration value="Sigmoid colon wall"/>
					<xs:enumeration value="Sigmoid colon wall + rectum wall"/>
					<xs:enumeration value="Skin"/>
					<xs:enumeration value="Skin arms"/>
					<xs:enumeration value="Skin at top and bottom"/>
					<xs:enumeration value="Skin head"/>
					<xs:enumeration value="Skin legs"/>
					<xs:enumeration value="Skin trunk"/>
					<xs:enumeration value="Small intestine contents"/>
					<xs:enumeration value="Small intestine wall"/>
					<xs:enumeration value="Spinal cord"/>
					<xs:enumeration value="Spleen"/>
					<xs:enumeration value="Sternum cortical"/>
					<xs:enumeration value="Sternum spongiosa"/>
					<xs:enumeration value="Stomach contents"/>
					<xs:enumeration value="Stomach wall"/>
					<xs:enumeration value="Teeth"/>
					<xs:enumeration value="Testes"/>
					<xs:enumeration value="Testis left"/>
					<xs:enumeration value="Testis right"/>
					<xs:enumeration value="Thoracic spine cortical"/>
					<xs:enumeration value="Thoracic spine spongiosa"/>
					<xs:enumeration value="Thymus"/>
					<xs:enumeration value="Thyroid"/>
					<xs:enumeration value="Tibiae fibulae and patellae cortical"/>
					<xs:enumeration value="Tibiae fibulae and patellae medullary cavity"/>
					<xs:enumeration value="Tibiae fibulae and patellae spongiosa"/>
					<xs:enumeration value="Tongue"/>
					<xs:enumeration value="Tongue (inner part)"/>
					<xs:enumeration value="Tonsils"/>
					<xs:enumeration value="Total body except organ contents"/>
					<xs:enumeration value="Trachea"/>
					<xs:enumeration value="Transverse colon contents left"/>
					<xs:enumeration value="Transverse colon contents right"/>
					<xs:enumeration value="Transverse colon wall left"/>
					<xs:enumeration value="Transverse colon wall right"/>
					<xs:enumeration value="Ulnae and radii cortical"/>
					<xs:enumeration value="Ulnae and radii medullary cavity"/>
					<xs:enumeration value="Ulnae and radii spongiosa"/>
					<xs:enumeration value="Ureter left"/>
					<xs:enumeration value="Ureter right"/>
					<xs:enumeration value="Ureters"/>
					<xs:enumeration value="Urinary bladder contents"/>
					<xs:enumeration value="Urinary bladder wall"/>
					<xs:enumeration value="Uterus"/>
					<xs:enumeration value="Wrists and hand bones cortical"/>
					<xs:enumeration value="Wrists and hand bones spongiosa"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VOI"/>
					<xs:enumeration value="VOI superimposed on images"/>
					<xs:enumeration value="3D dose map"/>
					<xs:enumeration value="3D density map"/>
					<xs:enumeration value="3D activity map"/>
					<xs:enumeration value="3D absorbed dose rate map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="NonDICOMDataFormat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="zipped imageJ contours format"/>
					<xs:enumeration value="TIFF format embedding imageJ contours"/>
					<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
					<xs:enumeration value="GIF format embedding imageJ contours"/>
					<xs:enumeration value="NRRD format"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>