xsd/nondicomTest.xsd

<?xml version="1.0"?>
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="CalibrationWorkflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTCTCalibrationWorkflow" type="irdbb:SPECTCTCalibrationWorkflow" minOccurs="0" />
				<xs:element name="PlanarCalibrationWorkflow" type="irdbb:PlanarCalibrationWorkflow" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ThreeDimDosimetrySlide1workflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PatientId" type="xs:string"/>
				<xs:element name="PatientName" type="xs:string"/>
				<xs:element name="ClinicalResearchStudyId" type="xs:string"/>
				<xs:element name="SPECTDataAcquisitionAndProcessing" type="irdbb:SPECTDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="RegistrationVOISegmentationAndPropagation" type="irdbb:RegistrationVOISegmentationAndPropagation"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination" maxOccurs="unbounded" />
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculation" type="irdbb:AbsorbedDoseCalculation"/>
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TimeIntegratedActivityCoefficientPerVOI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TimeIntegratedActivityPerVOI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TwoDimDosimetryworkflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PatientId" type="xs:string"/>
				<xs:element name="PatientName" type="xs:string"/>
				<xs:element name="ClinicalResearchStudyId" type="xs:string"/>
				<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="TwoDimDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:TwoDimDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
				<xs:element name="TwoDimDosimetryViaTimeActivityCurveFit" type="irdbb:TwoDimDosimetryViaTimeActivityCurveFit" minOccurs="0" />
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MeanAbsorbedDoseRateInROI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MeanAbsorbedDoseRateInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseRateInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="HybridDosimetryworkflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PatientId" type="xs:string"/>
				<xs:element name="PatientName" type="xs:string"/>
				<xs:element name="ClinicalResearchStudyId" type="xs:string"/>
				<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="SPECTDataAcquisitionAndProcessing" type="irdbb:SPECTDataAcquisitionAndProcessing"/>
				<xs:element name="HybridDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:HybridDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
				<xs:element name="HybridDosimetryViaTimeActivityCurveFit" type="irdbb:HybridDosimetryViaTimeActivityCurveFit" minOccurs="0" />
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RegistrationVOISegmentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMTomoReconUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string"/>
				<xs:element name="RegistrationAndSegmentationMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnSPECTProduced" type="irdbb:DICOMData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ThreeDimDosimetrySlide2workflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PatientId" type="xs:string"/>
				<xs:element name="PatientName" type="xs:string"/>
				<xs:element name="ClinicalResearchStudyId" type="xs:string"/>
				<xs:element name="SPECTDataAcquisitionAndProcessing" type="irdbb:SPECTDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation" type="irdbb:VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation" maxOccurs="unbounded" />
				<xs:element name="DoseRateCurveFitVOITimeIntegration" type="irdbb:DoseRateCurveFitVOITimeIntegration"/>
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SPECTCTCalibrationWorkflow">
		<xs:sequence>
				<xs:element name="CTNumberCalibrationWorkfow" type="irdbb:CTNumberCalibrationWorkfow" minOccurs="0" />
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction"/>
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction"/>
				<xs:element name="CTSegmentation" type="irdbb:CTSegmentation"/>
				<xs:element name="SPECTSensitivityCalculation" type="irdbb:SPECTSensitivityCalculation"/>
				<xs:element name="SPECTRecoveryCurveCalculation" type="irdbb:SPECTRecoveryCurveCalculation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationWorkflow">
		<xs:sequence>
				<xs:element name="PlanarAcquisition" type="irdbb:PlanarAcquisition"/>
				<xs:element name="PlanarImageCorrections" type="irdbb:PlanarImageCorrections"/>
				<xs:element name="PlanarImageSegmentation" type="irdbb:PlanarImageSegmentation"/>
				<xs:element name="PlanarSensitivityCalculation" type="irdbb:PlanarSensitivityCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationWorkfow">
		<xs:sequence>
				<xs:element name="CTAcqForCTNumberCalibrationCurve" type="irdbb:CTAcqForCTNumberCalibrationCurve"/>
				<xs:element name="CalculationOfCTNumberCalibrationCurve" type="irdbb:CalculationOfCTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTAcqForCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="DensityPhantomUsed" type="irdbb:DensityPhantom"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfCTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string"/>
				<xs:element name="CTNumberCalibrationCurveProduced" type="irdbb:CTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstruction">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstruction">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMTomoUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string"/>
				<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
				<xs:element name="CalibrationFactorUsed" type="irdbb:CalibrationFactor"/>
				<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTSegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMSeriesUIDNMTomoReconUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string"/>
				<xs:element name="SegmentationMethodMethodUsed" type="xs:string"/>
				<xs:element name="VOIInCTProduced" type="irdbb:VOIInCT" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTProduced" type="irdbb:VOIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTSensitivityCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIInCTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="CalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCurveCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIInCTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PhantomIdentifierUsed" type="xs:string"/>
				<xs:element name="CalibrationCoefficientIdentifierUsed" type="xs:string"/>
				<xs:element name="SPECTRecoveryCoefficientCurve" type="irdbb:SPECTRecoveryCoefficientCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarAcquisition">
		<xs:sequence>
				<xs:element name="PhantomUsed" type="irdbb:NMPhantom"/>
				<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageCorrections">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMSeriesUIDNMStaticUsed" type="xs:string"/>
				<xs:element name="CorrectionsUsed" type="xs:string"/>
				<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageSegmentation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMSeriesUIDNMStaticCorrectedUsed" type="xs:string"/>
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="ROIInSPECTProduced" type="irdbb:ROIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarSensitivityCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="DICOMSeriesUIDNMStaticCorrectedUsed" type="xs:string"/>
				<xs:element name="CalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DensityPhantom">
		<xs:sequence>
				<xs:element name="DensityPhantomName" type="xs:string"/>
				<xs:element name="DensityPhantomIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurve">
		<xs:sequence>
				<xs:element name="CTNumberCalibrationCurveValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMPhantom">
		<xs:sequence>
				<xs:element name="NMPhantomName" type="xs:string"/>
				<xs:element name="NMPhantomIdentifier" type="xs:string"/>
				<xs:element name="HotInsert" type="irdbb:HotInsert" maxOccurs="unbounded" />
				<xs:element name="ColdInsert" type="irdbb:ColdInsert" maxOccurs="unbounded" />
				<xs:element name="Tank" type="irdbb:Tank"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotInsert">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="PreAdminActivityValue" type="xs:float"/>
				<xs:element name="PreAdminActivityUnit" type="xs:string"/>
				<xs:element name="PreAdminActivityTimestamp" type="xs:string"/>
				<xs:element name="PostAdminActivityValue" type="xs:float"/>
				<xs:element name="PostAdminActivityUnit" type="xs:string"/>
				<xs:element name="PostAdminActivityTimestamp" type="xs:string"/>
				<xs:element name="HotInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ColdInsert">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="ColdInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Tank">
		<xs:sequence>
				<xs:element name="VolumeValue" type="xs:float"/>
				<xs:element name="VolumeUnit" type="xs:string"/>
				<xs:element name="PreAdminBackgroundActivityValue" type="xs:float"/>
				<xs:element name="PreAdminBackgroundActivityUnit" type="xs:string"/>
				<xs:element name="PreAdminBackgroundActivityTimestamp" type="xs:string"/>
				<xs:element name="PostAdminBackgroundActivityValue" type="xs:float"/>
				<xs:element name="PostAdminBackgroundActivityUnit" type="xs:string"/>
				<xs:element name="PostAdminBackgroundActivityTimestamp" type="xs:string"/>
				<xs:element name="TankIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInCT">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInSPECT">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIInSPECT">
		<xs:sequence>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="PhantomPartIdentifier" type="xs:string"/>
				<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalibrationCoefficient">
		<xs:sequence>
				<xs:element name="CalibrationCoefficientValue" type="xs:float"/>
				<xs:element name="CalibrationCoefficientUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurve">
		<xs:sequence>
				<xs:element name="SPECTRecoveryCoefficientCurve" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMDICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
				<xs:element name="FileName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction"/>
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="DICOMSeriesUIDNMTomoReconUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ImageProcessingMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="CalibrationFactorUsed" type="irdbb:CalibrationFactor"/>
				<xs:element name="SPECTRecoveryCoefficientCurveUsed" type="irdbb:SPECTRecoveryCoefficientCurve"/>
				<xs:element name="DataActivityPerVOIAtTimePointProduced" type="irdbb:DataActivityPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerROI" maxOccurs="unbounded" />
				<xs:element name="TimeIntegratedActivityPerROIProduced" type="irdbb:TimeIntegratedActivityPerROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMass" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
				<xs:element name="TimePointCategory" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
				<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
				<xs:element name="TimePointDistanceFromReferenceEventUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOI">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="OrganOrTissue" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalibrationFactor">
		<xs:sequence>
				<xs:element name="CalibrationFactorValue" type="xs:float"/>
				<xs:element name="CalibrationFactorUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
				<xs:element name="AdministeredActivityValue" type="xs:float"/>
				<xs:element name="AdministeredActivityUnit" type="xs:string"/>
				<xs:element name="Timestamp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInVOI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInVOIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="PlanarDataAcquisition" type="irdbb:PlanarDataAcquisition"/>
				<xs:element name="PlanarDataCorrections" type="irdbb:PlanarDataCorrections"/>
				<xs:element name="PlanarDataSegmentationWithoutRegistration" type="irdbb:PlanarDataSegmentationWithoutRegistration" minOccurs="0" />
				<xs:element name="PlanarDataSegmentationWithRegistrationAndPropagation" type="irdbb:PlanarDataSegmentationWithRegistrationAndPropagation" minOccurs="0" />
				<xs:element name="ROIPlanarActivityDetermination" type="irdbb:ROIPlanarActivityDetermination"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="AbsorbedDoseRateCalculation" type="irdbb:AbsorbedDoseRateCalculation"/>
				<xs:element name="TimeAbsorbedDoseCurveFit" type="irdbb:TimeAbsorbedDoseCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
				<xs:element name="AbsorbedDoseCalculation" type="irdbb:AbsorbedDoseCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisition">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataCorrections">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMStaticUsed" type="xs:string"/>
				<xs:element name="CorrectionsUsed" type="xs:string"/>
				<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithoutRegistration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMStaticCorrectedUsed" type="xs:string"/>
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithRegistrationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMStaticCorrectedUsed" type="xs:string"/>
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedResampledOnCommonReferenceProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIPlanarActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PlanarCalibrationFactorUsed" type="irdbb:PlanarCalibrationFactor"/>
				<xs:element name="DataActivityPerROIAtTimePointProduced" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMass" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseRateInVOIProduced" type="irdbb:MeanAbsorbedDoseRateInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROI">
		<xs:sequence>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="OrganOrTissue" type="xs:string"/>
				<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationFactor">
		<xs:sequence>
				<xs:element name="PlanarCalibrationFactorValue" type="xs:float"/>
				<xs:element name="PlanarCalibrationFactorUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PatientOrganMass">
		<xs:sequence>
				<xs:element name="PatientOrganMassValue" type="xs:float"/>
				<xs:element name="PatientOrganMassUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInROI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HybridDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="EnergyDepositionRateCalculation" type="irdbb:EnergyDepositionRateCalculation"/>
				<xs:element name="SumAndScalingEnergyDepositionRate" type="irdbb:SumAndScalingEnergyDepositionRate"/>
				<xs:element name="AbsorbedDoseRateCalculation" type="irdbb:AbsorbedDoseRateCalculation"/>
				<xs:element name="TimeAbsorbedDoseRateCurveFit" type="irdbb:TimeAbsorbedDoseRateCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HybridDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ActivityScaling" type="irdbb:ActivityScaling"/>
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
				<xs:element name="AbsorbedDoseCalculation" type="irdbb:AbsorbedDoseCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnergyDepositionRateCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="DICOMData" type="xs:string"/>
				<xs:element name="DICOMData" type="xs:string"/>
				<xs:element name="ThreeDimEnergyDepositionRateMatrixAtTimePointProduced" type="irdbb:NonDICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SumAndScalingEnergyDepositionRate">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIInSPECTIdentifierUsed" type="xs:string"/>
				<xs:element name="EnergyDepositionRatePerVOIAtTimePointProduced" type="irdbb:EnergyDepositionRatePerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseRateCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActivityScaling">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="DataActivityPerROIAtTimePoint" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EnergyDepositionRatePerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="EnergyDepositionRateValue" type="xs:float"/>
				<xs:element name="EnergyDepositionRateUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseRateInVOI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseRateInVOIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseRateInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOISegmentationEnergyDepositionCalculationAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="VOISegmentationVOIMassDetermination" type="irdbb:VOISegmentationVOIMassDetermination"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination"/>
				<xs:element name="EnergyDepositionRateCalculation" type="irdbb:EnergyDepositionRateCalculation"/>
				<xs:element name="SumAndScalingAbsorbedDoseRateCalculation" type="irdbb:SumAndScalingAbsorbedDoseRateCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOISegmentationVOIMassDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDNMTomoReconUsed" type="xs:string"/>
				<xs:element name="DICOMSeriesUIDCTReconUsed" type="xs:string"/>
				<xs:element name="VOISegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnNMReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="MassPerVOIAtTimePointProduced" type="irdbb:MassPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SumAndScalingAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="VOIUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ThreeDimEnergyDepositionRateMatrixAtTimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="AbsorbedDoseRatePerVOIAtTimePointProduced" type="irdbb:AbsorbedDoseRatePerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DoseRateCurveFitVOITimeIntegration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MassPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="MassValue" type="xs:float"/>
				<xs:element name="MassUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRatePerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="AbsorbedDoseRateValue" type="xs:float"/>
				<xs:element name="AbsorbedDoseRateUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>